<% layout("/layouts/boilerplate") %> 
<body>
    <div id="filters">
      <div class="filters">
        <div></div>
        <p></p>
      </div>
      <div class="filters">
        <div></div>
        <p></p>
      </div>
      <div class="filters">
        <div></div>
        <p></p>
      </div>
      <div class="filters">
        <div></div>
        <p></p>
      </div>
      <div class="filters">
        <div></div>
        <p></p>
      </div>
      <div class="filters">
        <div></div>
        <p></p>
      </div>
      <div class="filters">
        <div></div>
        <p></p>
      </div>
      <div class="filters">
        <div></div>
        <p></p>
      </div>
    </div>
    <div class="row row-cols-lg-3 row-col-md-2 row-col-sm-1">
        <% for(let listing of allListings){ %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card-listing">
                    <img src="<%= listing.image.url%>" class="card-img-top" alt="listing img" style="height: 18rem;">
                    
                    <div class="card-body">
                      <p class="card-text">
                        <b><%= listing.title %></b><br>
                        &#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %> / night 
                      </p>
                    </div>
                  </div>
            </a>
        <%} %>
    </div>

</body>


